@import '../../../theme/mixins';

.temp-form {
    @include heading;
    @include broken;

    ion-title {
        font-size: 1rem;
    }

    .temp-prev {
        padding-top: 1rem;

        .temp-pic {
            max-width: 100%;
            padding: 2rem;
        }
    }
}