@import '../../../../../theme//mixins.scss';

.confirm-modal {
    @include heading;

    .confirm-header {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .default-desc {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
    }

    .label-bold {
        font-weight: 600;
    }

    .list-divider {
        border-bottom: 1px inset var(--ion-color-light-shade);
        padding-bottom: 1.25rem;
    }
}