@import '../../../../../theme//mixins.scss';

.temp-form {
    @include heading;
    @include broken;
    @include formHeading;

    .temp-prev {
        padding-top: 1rem;

        .temp-pic {
            max-width: 100%;
            padding: 2rem;
        }
    }
}