<form class="temp-form" [formGroup]="selectForm" (ngSubmit)="submitTemp();">
  <ion-toolbar color="white">
    <ion-title color="dark" slot="start">Please Select {{itemType}} Template:</ion-title>
  </ion-toolbar>
  <ion-list lines="none">
    <ion-item>
      <ion-label color="medium">{{itemType}} Templates</ion-label>
      <ion-select formControlName="selectType" placeholder="Select One" (ionChange)="setPreview($event);">
        <ng-container *ngFor="let temp of templates; let i=index">
          <ion-select-option [value]="{ tempName: temp.name, tempPic: temp.pic }">{{i+1}} {{temp.name}}</ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>
    <ion-item class="temp-prev">
      <ng-container *ngIf="previewImg; else noImg">
        <ion-img [src]="previewImg"></ion-img>
      </ng-container>
      <ng-template #noImg>
        <div class="broken-img temp-pic">
          No {{itemType}} Template Selected
        </div>
      </ng-template>
    </ion-item>
  </ion-list>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-button fill="clear" color="danger" (click)="goBack();">Back</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="primary" type="submit" [disabled]="selectForm.invalid">Next</ion-button>
    </ion-buttons>
  </ion-toolbar>
</form>