<ng-container [ngSwitch]="listType">
  <ebc-tabs *ngSwitchCase="outlet.my" [listType]="listType" [segment]="fragment" outlet="ebc">
    <ion-tab tab="card">
      <ion-router-outlet name="ebc-cards"></ion-router-outlet>
    </ion-tab>
    <ion-tab tab="flyer">
      <ion-router-outlet name="ebc-flyers"></ion-router-outlet>
    </ion-tab>
  </ebc-tabs>
  <ebc-tabs *ngSwitchCase="outlet.samp" [listType]="listType" [segment]="fragment" outlet="samp">
    <ion-tab tab="card">
      <ion-router-outlet name="samp-cards"></ion-router-outlet>
    </ion-tab>
    <ion-tab tab="flyer">
      <ion-router-outlet name="samp-flyers"></ion-router-outlet>
    </ion-tab>
  </ebc-tabs>
  <ebc-tabs *ngSwitchCase="outlet.temp" [listType]="listType" [segment]="fragment" outlet="temp">
    <ion-tab tab="card">
      <ion-router-outlet name="temp-cards"></ion-router-outlet>
    </ion-tab>
    <ion-tab tab="flyer">
      <ion-router-outlet name="temp-flyers"></ion-router-outlet>
    </ion-tab>
  </ebc-tabs>
</ng-container>