@import '../../../theme/mixins';

.myitems {
	@include heading;
	@include broken;

	--ion-background-color: var(--ion-color-light);

	.list-wrap {
		background: transparent;
	}

	.desc {
		max-height: 4rem;
		white-space: normal;
		overflow: hidden;
	}

	.line {
		background-color: var(--ion-color-light-shade);
	}

	img {
		object-fit: contain;
	}

	.myItem {
		background-color: var(--ion-color-light-contrast);
	}
}