<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      EBC: Electronic Business Card
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login">
  <ion-card padding>
    <ion-card-header>
      <ion-text color="tertiary">
        <h2>Login</h2>
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <form [class.myError]="isAuthError" [formGroup]="loginForm" (ngSubmit)="signIn(loginForm)">
        <ion-list lines="none">
          <div class="field">
            <ion-item [class.myError]="!username.valid && username.touched">
              <ion-label position="stacked" for="username">Username</ion-label>
              <ion-input color="medium" clear-input="true" clear-on-edit="true" formControlName="username" placeholder="email" type="email"></ion-input>
            </ion-item>
            <div class="passErr">
              <ion-text color="danger" *ngIf="username.hasError('invalidEmail') && username.touched">
              <p>Please Provide a Valid Email</p>
              </ion-text>   
            </div>
            <ion-item>
              <ion-label position="stacked" for="password">Password</ion-label>
              <ion-input color="medium" clear-input="true" clear-on-edit="true" formControlName="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
              type="password"></ion-input>
            </ion-item>
            <div class="passErr">
              <ion-text color="danger" *ngIf="isAuthError">
                <p>Username or Password is Incorrect</p>
              </ion-text>
            </div>
          </div>
          <span padding>
            <ion-button expand="full" [disabled]="!loginForm.valid" type="submit">Sign In
              <ion-icon slot="end" name="log-in"></ion-icon>
            </ion-button>
          </span>
        </ion-list>
      </form>
      <ion-button fill="clear" expand="full" (click)="openPage('create')" type="button">or Create an Account</ion-button>
      <ion-note>
        <ion-button fill="clear" color="danger" (click)="resetPass()">
          <ion-icon slot="start" name="unlock"></ion-icon>&ensp;Reset</ion-button>
      </ion-note>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-note color="medium" padding>&copy;&thinsp;{{year}} by EBC: Electronic Business Card</ion-note>
    <ion-buttons slot="end">
      <ion-button shape="round" fill="clear" (click)="openPage('about-help')">
        <ion-icon slot="icon-only" name="help-circle" color="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>