@import '../../theme/mixins';

.login {
	@include heading;
	@include inputs;

	--ion-background-color: var(--ion-color-light);

	.passErr {
		margin-left: 1.25rem;
		margin-bottom: .2rem;

		p {
			padding-top: .25rem;
		}
	}
}