@import '../../theme/mixins';

.create {
	@include heading;
	@include inputs;

	--ion-background-color: var(--ion-color-light);

	.createBtn {
		padding: 1.5rem 0;
	}

	.passErr {
		margin-left: 1.1em;
		margin-bottom: .2em;
	}
}