<form class="social-form" [formGroup]="socialForm" (ngSubmit)="next();">
  <ion-toolbar color="white">
    <ion-title color="dark" slot="start">Add Social Media / Other Links</ion-title>
  </ion-toolbar>
  <ng-container formArrayName="social">
    <ion-list>
      <ng-container *ngFor="let control of socials.controls; let i=index">
        <ion-item>
          <ion-label position="stacked" for="i">Social/URL</ion-label>
          <ion-input [formControlName]="i" placeholder="Ex. Facebook: Username"></ion-input>
        </ion-item>
      </ng-container>
      <ion-button class="social-add" color="success" expand="full" shape="round" (click)="addField();">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-button class="social-add" color="warning" expand="full" shape="round" (click)="removeField();">
        <ion-icon name="remove"></ion-icon>
      </ion-button>
    </ion-list>
  </ng-container>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-button fill="clear" color="danger" (click)="goBack();">Back</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="primary" type="submit" [disabled]="socialForm.invalid">Next</ion-button>
    </ion-buttons>
  </ion-toolbar>
</form>