@import '../../../theme/mixins';

.edit {
	@include heading;
  @include inputs;
  
  --ion-background-color: var(--ion-color-light);

	h2 {
		font-size: 1.4rem;
		font-weight: 500;
		margin-bottom: .75rem;
    text-align: center;
  }

  .userImg {
    width: 100%;
    max-height: 50vh;
    background: rgba(0, 0, 0, 0.6);
    overflow-y: hidden;
  }

  .action {
    z-index: 5;
  }

  .editbar {
    padding-bottom: .01rem;
  }
  .editForm {
    --ion-item-background: transparent;
    padding: 0 1.5rem;

    .field {
      padding-left: 1.1rem;
      padding-right: .7rem;
    }

    .passErr {
      background: rgba(0, 0, 0, 0);
      margin-left: 1.75rem;
    }
  }
}