@import '../../../theme/mixins';

.submit-page {
    @include heading;

    --ion-background-color: var(--ion-color-light);

    .form-slide {
        width: 90%;
    }

    .final-btn {
        padding-top: 1.5rem;
    }
}