<form [formGroup]="emailForm" (ngSubmit)="sendEmail(emailForm)">
  <ion-list lines="none">
    <ion-text color="medium">
      <h3>Send Email<span *ngIf="set.hide"> to {{set?.name.formatted}}</span></h3>
    </ion-text>
    <div class="field">
      <ion-radio-group formControlName="email" [hidden]="!set.hide">
        <ion-item *ngFor="let addy of set?.contacts">
          <ion-label color="medium">{{addy.type}}: {{addy.value}}</ion-label>
          <ion-radio [id]="email.id" name="email" [value]="addy.value"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Other Email</ion-label>
          <ion-radio id="manual" name="email" [value]="emailField"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-item [class.myError]="!email.valid && email.touched">
        <ion-label position="stacked" color="danger"><span *ngIf="!email.valid && email.touched">Check Email Address</span></ion-label>
        <ion-input color="medium" id="custom" name="custom" type="email" [(ngModel)]="emailField" placeholder="Manual Selected Email"
          [ngModelOptions]="{standalone: true}" (input)="customEmail()" clear-input="true" clear-on-edit="true" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Subject</ion-label>
        <ion-input color="medium" formControlName="emailText" id="text" type="text" clear-input="true" clear-on-edit="true" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Message</ion-label>
        <ion-textarea color="medium" formControlName="body" id="body" type="text"></ion-textarea>
      </ion-item>
    </div>
    <ion-button color="primary" expand="full" [disabled]="disabled || !email.valid" class="formBtn" type="submit">Send
      Email</ion-button>
  </ion-list>
</form>